/ {
    chosen {
        zephyr,console = &cdc_acm_uart0;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            bias-pull-up;
        };
    };
};

&i2c0 {
    status = "okay";
    clock-frequency = <100000>;
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};